<div id="sidebar">
    <b>Directions</b>
    <ol style="width: 70%">
        <li>Enter a list of cell IDs</li>
        <li>Click 'Load cells'</li>
        <li>Wait (~1 min / 10 cells)</li>
        <li>Click on the 'Tables' tab</li>
    </ol>
</div>
<div id="content">
    <h4>Select volume</h4>
    <div class="half-width">
        <ui-select ng-model="model.ui.selectedVolume"
                   theme="select2"
                   class="sidebarMultiSelect"
                   search-enabled="false"
                   ng-change="updateVolume(model.ui.selectedVolume)">

            <ui-select-match placeholder="Click to select">
                {{model.ui.selectedVolume}}
            </ui-select-match>

            <ui-select-choices repeat="id in model.ui.availableVolumes">
                <div>{{id}}</div>
            </ui-select-choices>
        </ui-select>
    </div>
    <br>

    <h4>Enter Cell Ids</h4>
    <io-text-input></io-text-input>

    <h4>Cell Status</h4>
    <div ng-show="model.masterCells.ids.length > 0">
        <loaded-cells model="model" broadcast-change="broadcastChange()"></loaded-cells>
    </div>

    <div ng-show="model.masterCells.ids.length == 0" style="width:50%">
        <p style="text-align:center;">When you load some cells, the status of their loading will be shown here.</p>
    </div>

</div>
