<h2>Cell child distance</h2>


<div id="sidebar">

    <label>All cells:
        <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectionChanged()">
    </label>

    <label ng-show="!model.ui.allCellsChecked"><br>Cells:
        <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                   ng-change="selectedCellsChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}</ui-select-choices>
        </ui-select>
    </label>

    <hr>
    <label>Children:
        <ui-select multiple ng-model="model.ui.selectedChildTypes" theme="select2" style="width: 196px;"
                   ng-change="selectedChildTypesChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="name in model.masterChildTypes.names | filter:$select.search">{{name}}
            </ui-select-choices>
        </ui-select>
    </label>

    <hr>
    <label>All neighbor labels:
        <input type="checkbox" ng-model="model.ui.allNeighborLabelsChecked" ng-change="selectedNeighborLabelsChanged()">
    </label><br/>

    <label ng-show="!model.ui.allNeighborLabelsChecked">Labels:
        <ui-select multiple ng-model="model.ui.selectedNeighborLabels" theme="select2" style="width: 220px;"
                   ng-change="selectedNeighborLabelsChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="label in model.ui.neighborLabels | filter:$select.search">{{label}}</ui-select-choices>
        </ui-select>
    </label>

    <hr>
    <label>Use bars:
        <input type="checkbox" ng-model="model.ui.useBarsInTable" ng-change="broadcastChange()">
    </label>
</div>

<div id="content">

    <neighbor-bar-chart></neighbor-bar-chart>
    <div id="grid0" ui-grid="overviewGridOptions" class="grid"><</div>
    <br/>
        Neighbors
        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns ui-grid-selection></div>
    {{details}}
</div>