<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cell Sketches</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>

    <script src="app/app.js"></script>

    <script src="app/volumeOdata.service.js"></script>
    <script src="app/volumeBounds.service.js"></script>
    <script src="app/volumeCells.service.js"></script>
    <script src="app/volumeLayers.service.js"></script>

    <link rel="stylesheet" type="text/css" href="app/vis/conversions.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app/vis/demoView.directive.js"></script>
    <script src="app/vis/cellSelection.directive.js"></script>

    <script src="app/utils/point2d.js"></script>

    <link rel="stylesheet" type="text/css" href="app/app.css">
</head>

<body ng-app="formExample" ng-controller="ExampleController as ctrl">



<div class="top">
    <h3>Tech Demo: Small Multiples</h3>
</div>

<cell-selection class="left">
    <h4>Cell Selection</h4>
    <form novalidate class="simple-form">
        <input type="text" placeholder="Cell IDs&hellip;" width="8" style="width:100px;" ng-model="cell.input"/>
        <input type="submit" ng-click="cellAdded(cell)" value="Add"/><br><br>
        <input type="text" placeholder="Labels&hellip;" width="8" style="width:100px;" ng-model="cell.inputLabel"/>
        <input type="submit" ng-click="cellLabelAdded(cell)" value="Add"/><br>
    </form>
</cell-selection>

<demo-view class="main"></demo-view>
</body>
</html>
