<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cell Sketches</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/datajs/datajs-1.1.2.js"></script>
    <script src="bower_components/d3/d3.js"></script>

    <script src="app/app.js"></script>

    <script src="app/volumeOdata.service.js"></script>
    <script src="app/volumeBounds.service.js"></script>
    <script src="app/volumeCells.service.js"></script>
    <script src="app/volumeLayers.service.js"></script>

    <link rel="stylesheet" type="text/css" href="app/vis/conversions.css">
    <script src="app/vis/conversions.directive.js"></script>

    <link rel="stylesheet" type="text/css" href="app/app.css">
</head>

<body ng-app="formExample" ng-controller="ExampleController as ctrl">

<div>
    <form novalidate class="simple-form">
        Cell ID: <input type="number" ng-model="cell.name"/>
        <input type="submit" ng-click="update(cell)" value="Do it!"/>
    </form>
</div>

<conversions></conversions>


</body>
</html>
