.domain {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

/*#header {*/
    /*height: 55px;*/
    /*margin-left: 2px;*/
/*}*/

#sidebar {
    margin-left: 10px;
    float: left;
    width: 290px;
}

#content {
    margin-left: 302px;
    width: 1350px;
}

.tooltipCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    margin-right: 20px;
    background: #EEEEEE;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fa {
    display: inline;
    background: transparent;
}

.fa:hover {
    color: gray;
    cursor: pointer;
}

.half-width {
    width: 50%;
}
