.top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 96px;
    border-bottom: 1px solid darkgrey;
}

.left {
    position: absolute;
    left: 10px;
    top: 96px;
    bottom: 0;
    width: 200px;
}

.main {
    position: absolute;
    left: 210px;
    top: 96px;
    right: 0;
    bottom: 0;
}

