<div id="sidebar">
    <!-- Controls for the cells --->
    <div>
        <div>
            <b>Cells</b>

            <div uib-popover="This changes the table rows. Optionally select a subset of loaded cells to appear in the table."
                 popover-trigger="mouseenter" popover-placement="bottom-right" class="tooltipCircle">?
            </div>

        </div>

        <div class="sidebarControls">
            <label>All:
                <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectedCellsChanged()">
            </label>
            <label ng-show="!model.ui.allCellsChecked"><br>Cells:
                <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                           ng-change="selectedCellsChanged()">
                    <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}
                    </ui-select-choices>
                </ui-select>
            </label>
        </div>
<br>
        <div>
            <b>Number of bins</b>

            <div uib-popover="This changes the number of bins used for showing ipl% of structure annotations."
                 popover-trigger="mouseenter" popover-placement="bottom-right" class="tooltipCircle">?
            </div>

        </div>
        <div class="sidebarControls">
            <ui-select ng-model="model.ui.numBins"
                       theme="select2"
                       search-enabled="false"
                       ng-change="broadcastChange()"
                       class="sidebarMultiSelect">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.numBins}}
                </ui-select-match>

                <ui-select-choices repeat="id in model.ui.numBinOptions">
                    <div ng-bind-html="id"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div id="content">
    <span ng-repeat="cellId in cellIds">
        <ipl-histogram
                value="cellId"
                width="smallMultipleWidth"
                domain="xAxisDomain"
                range="xAxisRange"
                height="smallMultipleHeight"
                chart-data="chartData[$index]"
                y-axis-domain="yAxisDomain"
                y-axis-range="yAxisRange"
                num-bins="numBins">
        </ipl-histogram>
    </span>
</div>