<div id="sidebar">
    <!-- Controls for the cells --->
    <div>
        <div>
            <b>Cells</b>

            <div uib-popover="This changes the cells being displayed."
                 popover-trigger="mouseenter" popover-placement="bottom-right" class="tooltipCircle">?
            </div>

        </div>

        <div class="sidebarControls">
            <label>All:
                <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectedCellsChanged()">
            </label>
            <label ng-show="!model.ui.allCellsChecked"><br>Cells:
                <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                           ng-change="selectedCellsChanged()">
                    <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}
                    </ui-select-choices>
                </ui-select>
            </label>
        </div>
    </div>

    <!-- Controls for num bins--->
    <div>
        <b>Number of bins</b>
        <div uib-popover="Number of bins in histograms."
             popover-trigger="mouseenter" popover-placement="right" class="tooltipCircle">?
        </div>
    </div>

    <div class="sidebarControls">
        <ui-select ng-model="model.ui.numBins"
                   theme="select2"
                   search-enabled="false"
                   ng-change="broadcastChange()"
                   class="sidebarMultiSelect">
            <ui-select-match placeholder="Click to select">
                {{model.ui.numBins}}
            </ui-select-match>
            <ui-select-choices repeat="id in model.ui.numBinOptions">
                <div ng-bind-html="id"></div>
            </ui-select-choices>
        </ui-select>
    </div>

    <!-- Controls for vertical axis -->
    <div class="sidebarHeading">
        <b>Vertical axis units</b>
        <div uib-popover="Depth is raw z-value. Normalized depth is distance from top boundary. Percent difference is
        linear interpolation between the top and bottom boundaries."
             popover-trigger="mouseenter" popover-placement="right" class="tooltipCircle">?
        </div>
    </div>
    <div class="sidebarControls">
        <ui-select ng-model="model.ui.selectedVerticalAxisMode"
                   theme="select2"
                   search-enabled="false"
                   class="sidebarMultiSelect"
                   ng-change="broadcastChange()">

            <ui-select-match placeholder="Click to select">
                {{model.ui.selectedVerticalAxisMode.name}}
            </ui-select-match>

            <ui-select-choices repeat="id in VerticalAxisModes">
                <div ng-bind-html="id.name">{{id.name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>

    <!-- Controls for the conversion mode. Only visible if doing conversions. -->
    <div ng-show="model.ui.selectedVerticalAxisMode.name != 'Depth'">
        <div class="sidebarHeading">
            <b>Conversion strategy</b>
            <div uib-popover="Average will take weighted average of boundary points within some radius. Mesh will create delaunay-triangulation from the boundary points."
                 popover-trigger="mouseenter" popover-placement="right" class="tooltipCircle">?
            </div>
        </div>
        <div class="sidebarControls">
            <ui-select ng-model="model.ui.selectedSearchMode"
                       theme="select2"
                       search-enabled="false"
                       class="sidebarMultiSelect"
                       ng-change="broadcastChange()">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.selectedSearchMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in SearchModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!-- Controls for the search radius. Only visible if doing conversion using average.-->
    <div ng-show="model.ui.selectedConversionMode.name == 'Average'">
        <div class="sidebarHeading">
            <b>Search Radius for IPL Conversion</b>
            <div uib-popover="The area searched for doing interpolation between IPL boundaries."
                 popover-trigger="mouseenter" popover-placement="right" class="tooltipCircle">?
            </div>
        </div>
        <div class="sidebarControls">
            <ui-select ng-model="model.ui.selectedSearchRadiusMode"
                       theme="select2"
                       search-enabled="false"
                       class="sidebarMultiSelect"
                       ng-change="broadcastChange()">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.selectedSearchRadiusMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in SearchRadiusModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!-- Controls for num bins--->
    <div class="sidebarHeading">
        <b>Approx number of horizontal ticks</b>
        <div uib-popover="This is the approximate number of ticks. The exact number depends on the axis range."
             popover-trigger="mouseenter" popover-placement="right" class="tooltipCircle">?
        </div>
    </div>
    <div class="sidebarControls">
        <ui-select ng-model="model.ui.numTicks"
                   theme="select2"
                   search-enabled="false"
                   ng-change="broadcastChange()"
                   class="sidebarMultiSelect">
            <ui-select-match placeholder="Click to select">
                {{model.ui.numTicks}}
            </ui-select-match>
            <ui-select-choices repeat="id in model.ui.numTickOptions">
                <div ng-bind-html="id"></div>
            </ui-select-choices>
        </ui-select>
    </div>

    <br>
    <input type="button" value="Download" ng-click="onIplChartDownloadClicked()"></input>
</div>


<div id="content">
    <span ng-repeat="cellId in cellIds">
        <ipl-histogram
                value="cellId"
                width="smallMultipleWidth"
                domain="xAxisDomain"
                range="xAxisRange"
                height="smallMultipleHeight"
                chart-data="chartData[$index]"
                y-axis-domain="yAxisDomain"
                y-axis-range="yAxisRange"
                num-bins="numBins"
                toggle="toggle"
                num-ticks="numTicks"
                label="cellLabels[$index]">
        </ipl-histogram>
    </span>
</div>