<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Child Distance</title>

    <!-- Third party stuff -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/d3.chart/d3.chart.js"></script>
    <script src="../bower_components/d3.reusable/d3.reusable.js"></script>
    <script src="../bower_components/filesaver/FileSaver.js"></script>

    <!-- The app -->
    <script src="app.module.js"></script>
    <script src="app.js"></script>

    <!-- Directives -->
    <script src="vis/childrenBarChart.directive.js"></script>
    <script src="vis/childrenDistance.directive.js"></script>
    <script src="vis/childrenRadius.directive.js"></script>

    <!-- Shared modules. Order matters here. Module must be included before services. -->
    <script src="../shared/volume/volume.module.js"></script>
    <script src="../shared/volume/volumeOdata.service.js"></script>
    <script src="../shared/volume/volumeBounds.service.js"></script>
    <script src="../shared/volume/volumeCells.service.js"></script>
    <script src="../shared/volume/volumeLayers.service.js"></script>
    <script src="../shared/volume/volumeStructures.service.js"></script>

    <!-- Non-angular shared stuff. -->
    <script src="../shared/utils/utils.js"></script>
    <script src="../shared/utils/point2d.js"></script>
    <script src="../shared/utils/point3d.js"></script>
    <script src="../shared/utils/debug.js"></script>
    <script src="../shared/utils/location.js"></script>

    <!-- D3 shared stuff. -->
    <script src="../shared/d3/barChart.d3.js"></script>
    <script src="../shared/d3/histogram.d3.js"></script>

    <!-- Stylesheets. -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="app.helloWorld" ng-controller="ExampleController as ctrl">
<h2>Children Distance Histogram</h2>

<form name="myForm">
<input type="checkbox" ng-model="useSecondaryCells" ng-click="createSetsFromLoadedCells()">use secondary cells
</form>
<children-distance></children-distance>

<br>
<br>
{{details}}
</body>
</html>
