.top {
    position: absolute;
    left: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    border-bottom: 1px solid darkgrey;
}

.main {
    position: absolute;
    left: 20px;
    top: 45px;
    right: 0;
    bottom: 0;
}

