<h2>Cell child distance</h2>


<div id="sidebar">

    <label>All cells:
        <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectionChanged()">
    </label><br/>

    <label ng-show="!model.ui.allCellsChecked">Cells:
        <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                   ng-change="selectionChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}</ui-select-choices>
        </ui-select>
    </label>

    <hr>
    <label>Children:
        <ui-select multiple ng-model="model.ui.selectedChildTypes" theme="select2" style="width: 196px;"
                   ng-change="childTypesChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="name in model.masterChildTypes.names | filter:$select.search">{{name}}
            </ui-select-choices>
        </ui-select>
    </label>

    <hr>
    <label>Attribute:
        <select name="attribute" ng-model="model.ui.selectedChildAttribute" ng-change="broadcastChange()"
                ng-options="str for str in model.masterChildAttributes"></select>
    </label>
    <hr>

    <label>Units:
        <select name="units" ng-model="model.ui.units" ng-change="unitsChanged()"
                ng-options="str for str in ['px', 'nm']"></select>
    </label>
    <hr>
    <button ng-click="saveCurrentCellChildrenData()">Download</button>
</div>

<div id="content">

    <children-distance></children-distance>
    <br/>

    {{details}}
</div>