<!DOCTYPE html>
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/datajs/datajs-1.1.2.js"></script>

<body ng-app="formExample">
<div ng-controller="ExampleController">
    <form novalidate class="simple-form">
        Cell ID: <input type="number" ng-model="cell.name" /><br />
        <input type="submit" ng-click="update(cell)" value="Save" />
    </form>
    <pre>master = {{master | json}}</pre>
    <pre>children count = {{ childStructureCount | json}}</pre>
    <pre>details = {{results | json}}</pre>
</div>

<script>
    // Setup odata service.
    var serviceURL = "http://websvc1.connectomes.utah.edu/RC1/OData/ConnectomeData.svc/";
    OData.defaultHttpClient.enableJsonpCallback = true;

    // Create url to request structure ids.
    var requestURL = serviceURL + "StructureTypes";
    var structureTypes = Object();

    // Build map of structure ids
    OData.read(requestURL, function(data) {
        console.log("success");
        for (var i = 0; i < data.results.length; i++) {
            structureTypes[data.results[i].ID] = data.results[i].Name;
        }
    }, function (err) {
        console.log("shit");
        console.log(err);
    });

    angular.module('formExample', [])
            .controller('ExampleController', ['$scope', function($scope) {

                $scope.master = {};
                $scope.results = {};
                $scope.childStructureCount = {};

                $scope.update = function(cell) {
                    // Build request for cell
                    $scope.master = angular.copy(cell);
                    requestURL = serviceURL + "Structures(" + cell.name + "L)\\Children";

                    // Try to read. Alert angular of updates to scope.
                    OData.read(requestURL, function(data) {
                        $scope.$apply( function () {
                            $scope.results = angular.copy(data);
                        });

                        var childStructureCount = {};
                        for (var i = 0; i < data.results.length; i++) {
                            var typeId = structureTypes[data.results[i].TypeID];
                            if ( childStructureCount[typeId] ) {
                                childStructureCount[typeId]++;
                            }
                            else {
                                childStructureCount[typeId] = 1;
                            }
                        }

                        $scope.$apply( function () {
                            $scope.childStructureCount = angular.copy(childStructureCount);
                        });

                    }, function (err) {
                        $scope.$apply( function () {
                            $scope.results = err;
                        });
                    });
                };

                $scope.reset = function() {
                    $scope.cell = angular.copy($scope.master);
                };

                $scope.reset();
            }]);
</script>
</body>
</html>
