<div id="sidebar">

    <!---
    <label>All cells:
        <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectionChanged()">
    </label>
    <label ng-show="!model.ui.allCellsChecked"><br>Cells:
        <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                   ng-change="selectedCellsChanged()">
            <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
            <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}</ui-select-choices>
        </ui-select>
    </label>
    --->

    <div ng-show="model.ui.usingChildrenByTargetLabel" class="animate-show">
        <hr>
        <label>Children:
            <ui-select multiple ng-model="model.ui.selectedChildTypes" theme="select2" style="width: 196px;"
                       ng-change="selectedChildTypesChanged()">
                <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
                <ui-select-choices repeat="name in model.masterChildTypes.names | filter:$select.search">{{name}}
                </ui-select-choices>
            </ui-select>
        </label>
    </div>

</div>

<div id="content">

    <neighbor-table broadcast-change="broadcastChange()" selected-mode-changed="selectedModeChanged()"
                    model="model"></neighbor-table>

</div>