.header rect {
    fill: #F8F8F8;
}

.header text {
    fill: #333;
    font: 10px sans-serif;
    text-anchor: middle;
}

.cell text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}

.grid {
    width: 1350px;
    height: 250px;
}

.overviewGridCell {
    padding-top: 5px;
    width: 100%;
    height: 100%;
}

.overviewGridCell:hover {
    background-color: #FFC800;
}

.ui-grid-cell-focus {
    background-color: #FF6400;
}
