<div id="sidebar">

    <!-- Controls for the cells --->
    <div>
        <div class="sidebarHeading">
            <b>Cells</b>
        </div>

        <div class="sidebarControls">
            <label>All:
                <input type="checkbox" ng-model="model.ui.allCellsChecked" ng-change="selectedCellsChanged()">
            </label>
            <label ng-show="!model.ui.allCellsChecked"><br>Cells:
                <ui-select multiple ng-model="model.ui.selectedCells" theme="select2" style="width: 220px;"
                           ng-change="selectedCellsChanged()">
                    <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="id in model.masterCells.ids | filter:$select.search">{{id}}
                    </ui-select-choices>
                </ui-select>
            </label>
        </div>
    </div>

    <!-- Controls for the mode - children grouped by target or type --->
    <div>
        <div class="sidebarHeading">
            <b>Display mode</b>
        </div>

        <div class="sidebarControls">
            <ui-select ng-model="model.ui.selectedMode"
                       theme="select2"
                       class="sidebarMultiSelect"
                       search-enabled="false"
                       ng-change="selectedModeChanged()">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.selectedMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in model.ui.availableModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!-- Controls for the child type -->
    <div ng-show="model.ui.usingChildrenByTargetLabel" class="animate-show">
        <div class="sidebarHeading">
            <b>Child type</b>
        </div>
        <div class="sidebarControls">
            <ui-select multiple ng-model="model.ui.selectedChildTypes" theme="select2" class="sidebarMultiSelect"
                       ng-change="selectedChildTypesChanged()">
                <ui-select-match placeholder="Click to select">{{$item}}</ui-select-match>
                <ui-select-choices repeat="name in model.masterChildTypes.names | filter:$select.search">{{name}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!-- Controls for data -- attribute or count-->
    <div>
        <div class="sidebarHeading">
            <b>Data in table</b>
        </div>

        <div class="sidebarControls">
            <ui-select ng-model="model.ui.modes.selectedDataMode"
                       theme="select2"
                       search-enabled="false"
                       ng-change="broadcastChange()"
                       class="sidebarMultiSelect">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.modes.selectedDataMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in DataModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!--- Controls for the countMode encoding - bars or text -->
    <div>
        <div ng-show="model.ui.modes.selectedDataMode.name == 'Count'">

            <div class="sidebarHeading">
                <b>Encoding</b>
            </div>
            <div class="sidebarControls">
                <ui-select ng-model="model.ui.modes.selectedCountMode"
                           theme="select2"
                           search-enabled="false"
                           class="sidebarMultiSelect"
                           ng-change="broadcastChange()">

                    <ui-select-match placeholder="Click to select">
                        {{model.ui.modes.selectedCountMode.name}}
                    </ui-select-match>

                    <ui-select-choices repeat="id in CountEncodingModes">
                        <div ng-bind-html="id.name">{{id.name}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>

        </div>
    </div>

    <!--- Controls for the attribute mode and distance - distance or diameter --->
    <div ng-show="model.ui.modes.selectedDataMode.name == 'Attribute (histogram)'">

        <div class="sidebarHeading">
            <b>Attribute</b>
        </div>

        <div class="sidebarControls">
            <ui-select ng-model="model.ui.modes.selectedAttributeMode"
                       theme="select2"
                       search-enabled="false"
                       class="sidebarMultiSelect"
                       ng-change="broadcastChange()">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.modes.selectedAttributeMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in AttributeModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="sidebarHeading">
            <b>Units</b>
        </div>
        <div class="sidebarControls">
            <ui-select ng-model="model.ui.modes.selectedUnitMode"
                       theme="select2"
                       search-enabled="false"
                       class="sidebarMultiSelect"
                       ng-change="broadcastChange()">

                <ui-select-match placeholder="Click to select">
                    {{model.ui.modes.selectedUnitMode.name}}
                </ui-select-match>

                <ui-select-choices repeat="id in UnitModes">
                    <div ng-bind-html="id.name">{{id.name}}</div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

</div>

<div id="content">

    <div ng-show="debugingGui">
        <br/>
        <br/>
        Selected data mode: {{model.ui.modes.selectedDataMode}}
        <br/>
        Selected count encoding: {{model.ui.modes.selectedCountMode}}
        <br/>
        Selected attribute mode: {{model.ui.modes.selectedAttributeMode}}
    </div>

    <div ng-show="model.ui.selectedMode.name == 'Children By Type'">
        <div ng-show="model.ui.modes.selectedDataMode.name=='Attribute (histogram)'">
            <h4>Cell Children Grouped by Type - Histogram of {{model.ui.modes.selectedAttributeMode.name}}</h4>
        </div>
        <div ng-show="model.ui.modes.selectedDataMode.name=='Count'">
            <h4>Cell Children Grouped by Type - Count</h4>
        </div>
    </div>

    <div ng-show="model.ui.selectedMode.name == 'Children By Target Label'">
        <div ng-show="model.ui.modes.selectedDataMode.name=='Attribute (histogram)'">
            <h4>Cell Children Grouped by Target Label - Histogram of {{model.ui.modes.selectedAttributeMode.name}}</h4>
        </div>
        <div ng-show="model.ui.modes.selectedDataMode.name=='Count'">
            <h4>Cell Children Grouped by Target Label - Count</h4>
        </div>
    </div>

    <div id="grid0" ui-grid="overviewGridOptions" ui-grid-cellNav ui-grid-pinning class="grid"></div>

    <br/>

    <div ng-show="model.ui.details.cellId == -1">
        <h4>Click on a Grid Cell for Details</h4>
    </div>

    <div ng-show="model.ui.details.cellId != -1">
        <div ng-show="model.ui.selectedMode.name == 'Children By Type'">
            <div ng-show="model.ui.modes.selectedDataMode.name=='Attribute (histogram)'">
                <h4>Cell {{model.ui.details.cellId}} Children ({{model.ui.details.target}})
                    {{model.ui.modes.selectedAttributeMode.name}}</h4>
            </div>
            <div ng-show="model.ui.modes.selectedDataMode.name=='Count'">
                <h4>Cell {{model.ui.details.cellId}} Children ({{model.ui.details.target}})</h4>
            </div>
        </div>

        <div ng-show="model.ui.selectedMode.name == 'Children By Target Label'">
            <div ng-show="model.ui.modes.selectedDataMode.name=='Attribute (histogram)'">
                <h4>Cell {{model.ui.details.cellId}} Children ({{model.ui.details.selectedChildTypes}}) {{model.ui.modes.selectedAttributeMode.name}}
                    Targeting {{model.ui.details.target}}</h4>
            </div>
            <div ng-show="model.ui.modes.selectedDataMode.name=='Count'">
                <h4>Cell {{model.ui.details.cellId}} </h4>
            </div>
        </div>

        <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-resize-columns></div>
    </div>

</div>